.my-nav {
  background: #FF6600
}

.my-nav ul {
  margin: 10px 0;
  float:right;
}

.navbar-brand {
  margin:10px 0;

}

.carou-contain {
  
  margin:20px auto;
}

.item, img {
    margin:0px auto;
    padding-right: 10px;
    padding-left:  10px;
}
.title {
  text-align: center;
  margin: 40px 0px;
}

td img {
  width:50px;
}
h1 {
  text-align: center;
  padding-top:100px;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    border:2px solid white;
    margin:3px;
    border-radius: 15px;
}

.navbar-default .navbar-brand {
    color: #fff;
}

